apiVersion: 1.1

datasources:

  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: "http://localhost:{{ prometheus_port }}"
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "30s"

  - name: Loki
    type: loki
    uid: loki
    url: "http://localhost:{{ loki_port }}"
    editable: false

  - name: Tempo
    type: tempo
    uid: tempo
    url: "http://localhost:{{ tempo_port }}"
    editable: false
    jsonData:
      tracesToLogs:
        datasourceUid: loki
        spanStartTimeShift: "-1h"
        spanEndTimeShift: "1h"

  - name: Elasticsearch
    type: elasticsearch
    uid: elasticsearch
    url: "http://localhost:{{ elasticsearch_port }}"
    database: "wazuh-alerts-*"
    editable: false

  - name: AlertManager
    type: alertmanager
    uid: alertmanager
    url: "http://localhost:{{ alertmanager_port }}"
    editable: false
