apiVersion: 1.1

datasources:

  - name: Prometheus
    type: prometheus
    uid: prometheus
    url: "http://localhost:{{ prometheus_port }}"
    isDefault: true
    editable: false
    jsonData:
      timeInterval: "30s"

  - name: Loki
    type: loki
    uid: loki
    url: "http://localhost:{{ loki_port }}"
    editable: false

  - name: Tempo
    type: tempo
    uid: tempo
    url: "http://localhost:3200"
    editable: false
    jsonData:
      tracesToLogs:
        datasourceUid: loki
        spanStartTimeShift: "-1h"
        spanEndTimeShift: "1h"

  - name: Wazuh Indexer
    type: grafana-opensearch-datasource
    uid: wazuh-indexer
    access: proxy
    url: "https://localhost:{{ elasticsearch_port }}"
    basicAuth: true
    basicAuthUser: "{{ wazuh_indexer_admin_user }}"
    secureJsonData:
      basicAuthPassword: "{{ wazuh_indexer_admin_password }}"
    jsonData:
      database: "wazuh-alerts-*"
      flavor: "opensearch"
      version: "2.11.0"
      timeField: "timestamp"
      tlsSkipVerify: true
    editable: false

  - name: AlertManager
    type: alertmanager
    uid: alertmanager
    url: "http://localhost:{{ alertmanager_port }}"
    editable: false
