# Géré par Ansible — ne pas modifier manuellement

# Protection contre le IP spoofing
net.ipv4.conf.all.rp_filter = 1
net.ipv4.conf.default.rp_filter = 1

# Désactiver l'acceptation des paquets ICMP redirect
net.ipv4.conf.all.accept_redirects = 0
net.ipv6.conf.all.accept_redirects = 0

# Désactiver l'envoi de redirections ICMP
net.ipv4.conf.all.send_redirects = 0

# Protection SYN flood
net.ipv4.tcp_syncookies = 1

# Désactiver le routage IP
net.ipv4.ip_forward = 0
